.title_styling {
    font-size: 150px;
    color:darkkhaki;
}

.subtitle_styling {
    font-size: 50px;
    color:coral;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.description_styling {
    font-size: 18px;
    color:brown;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #555
}

table, th, td {
    border:1px solid black;
}

body {
    background-color: lightblue;
}